Makefile
CMakeCache.txt
CMakeFiles
*.cmake
/.idea/
cmake-build-*
build
*.a
*.so
*.dylib
install_manifest.txt
jshn
*-example
tests.*
/debian/debhelper-build-stamp
/debian/files
/debian/jshn-jsonc.substvars
/debian/.debhelper/
/debian/jshn-jsonc/
/debian/jshn-jsonc.debhelper.log
